<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Profile Page</a>
  </nav>

  <!-- Profile Info -->
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4">
        <img src="https://via.placeholder.com/150" alt="Profile Picture" class="img-thumbnail">
      </div>
      <div class="col-md-8">
        <h1>John Doe</h1>
        <p>Email: john.doe@gmail.com</p>
        <p>Location: New York, NY</p>
        <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lectus in erat pulvinar dapibus. Sed rhoncus, ex eget venenatis varius, lorem tortor congue ex, quis interdum odio sapien eget turpis. </p>
      </div>
    </div>
  </div>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
